<!DOCTYPE html>
<html lang="en">
<%- include('./includes/header') %>
    <body>
        <div class="container">
            <%- include('./includes/navbar') %>
            <%- include('./includes/sitebar') %>
            <main>
                <div class="content">
                    <%- body %>
                </div>
            </main>
            <%- include('./includes/footer') %>
        </div>
        <%- include('./includes/script') %>
    </body>
</html>